@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root{
    --primary-color: #FFC0CB;
    --secondary-color:#f8eaea;
}
body {
    background-color: var(--secondary-color) !important;
}
.main{
    text-align: center;
    margin-top: 350px;
    font-family:'Poppins',sans-serif;
    max-width: 800px;
    align-items: center;
    padding: 10px;
    margin-left: 75px;
    margin-top: 285px;
}
.welc{
    font-size: 300%;
}
.image{
    width: 50px;
    height: auto;
    margin-top: -675px;
    margin-left: 800px;
    
}
.butone {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background:var(--primary-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 20px;
    font-family: inherit;
    font-size: 20px;
}
.butone:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.butone:active {
    color: var(--primary-color)
}
.butone:active:after {
    background: transparent;
}
.butone:hover:before {
    opacity: 1;
}
.butone:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}